{
  "telegramapikey": "123456789:abcdefghijklmnopqrstvwxyzabcdefghij",
  "tmdbapikey": "abcdefghijklmnopqrstvwxyzabcdefg",
  "flickrapikey": "abcdefghijklmnopqrstvwxyzabcdefg",
  "dbhost": "192.168.25.25:28015",
  "dbname": "titanbot",
  "mchost": "127.0.0.1:11211",
  "mcttl": 43200
}
